In [10]:
import pandas as pd
from mlxtend.preprocessing import MeanCenterer
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from kneed import KneeLocator
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import time
start_time = time.time()

data_path = {
    'ratings': 'ratings.txt',
    'movies': 'netflix_titles.csv'
}

def load_data(data: str) -> pd.DataFrame:
    df = pd.read_csv(data_path[data], \
                        sep=',', \
                        engine='python')

    return df

In [2]:

def movie_data_treatment(df_movies: pd.DataFrame) -> pd.DataFrame:
    # crea columna de id
    df_movies['idMovie'] = [i for i in range(1, len(df_movies) + 1)]
    # coge las primeras 3952 para tener las mismas que en el otro dataset
    movies_id = [i for i in range(0, 3952)]
    df_movies = df_movies.iloc[movies_id]
    # selecciona columnas necesarias
    movie_keep_cols = ['title', 'idMovie', 'type', 'listed_in']
    df_movies = df_movies[movie_keep_cols]
    
    return df_movies

In [3]:

def create_rating_matrix(df_movies: pd.DataFrame, df_ratings: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(df_ratings, df_movies, on='idMovie', how='left')
    # crea matriz de valoraciones
    ratings_matrix = df.pivot( index = "idUser", columns = "idMovie", values = "rating")
    # 0 si no se ha valorado la pelicula
    ratings_matrix.fillna( 0, inplace = True ) 
    # elimina posibles duplicados
    ratings_matrix = ratings_matrix.loc[:, ~ratings_matrix.columns.duplicated()]
    
    return ratings_matrix

In [4]:


def group_movies_Kmeans(df_rating: pd.DataFrame) -> pd.DataFrame:
    # traspone df para aplicar kmeans en los objetos
    df_transpose = df_rating.transpose()
    film_index = df_transpose.index
    user_index = df_transpose.columns
    # centra en la media la matriz
    df_centered = MeanCenterer().fit(df_transpose.to_numpy())
    df_centered = df_centered.transform(df_transpose.to_numpy())
    df_centered = pd.DataFrame(df_centered)

    # resetea indices matriz
    df_centered.columns = user_index.astype(str)
    df_centered.index = film_index

    # encuentra numero optimo de agrupaciones
    kmeans_kwargs = {
    "init": "random",
    "n_init": 10,
    "max_iter": 300,
    "random_state": 42,
    }
    sse = []
    for k in range(1, 11):
        kmeans = KMeans(n_clusters=k, **kmeans_kwargs)
        kmeans.fit(df_centered)
        sse.append(kmeans.inertia_)
   
    kl = KneeLocator(
        range(1, 11), sse, curve="convex", direction="decreasing")
    kl.elbow 

    # aplica kmeans
    kmeans = KMeans(n_clusters=kl.elbow, **kmeans_kwargs)
    kmeans.fit(df_centered)

    # adds groups to rating matrix
    df_centered['Group'] = kmeans.labels_

    return df_centered

In [5]:

def get_user_not_rated_movies(idUser: int, df_ratings: pd.DataFrame, \
                                           df_movies: pd.DataFrame) -> pd.DataFrame:
    df_rated = df_ratings[ df_ratings ['idUser'] == idUser][['idMovie', 'rating']]
    # peliculas no valoradas
    not_rated = df_movies[~df_movies['idMovie'].isin(df_rated['idMovie'])]
    # peliculas que tienen al menos una valoracion ( si no se se pueden comparar )
    rated_movies = not_rated[not_rated['idMovie'].isin(df_ratings['idMovie'])] 
    df_not_rated = pd.DataFrame(rated_movies['idMovie'], columns=['idMovie'])
    df_not_rated = df_not_rated.reset_index(drop=True)

    return df_not_rated

In [6]:

def get_movie_similarity_scores(idMovie: int, df_rating_matrix: pd.DataFrame) -> pd.DataFrame:
    # movie group
    movie_group = df_rating_matrix[df_rating_matrix.index == idMovie]['Group']
    # movies of same group
    df_same_group = df_rating_matrix[df_rating_matrix['Group'] == movie_group.values[0]]
    # similatity matrix between target movie and the rest of same group
    cosineSim_matrix = cosine_similarity( df_same_group, df_same_group)
    cosineSim_matrix = pd.DataFrame( cosineSim_matrix, \
                                    index = df_same_group.index, \
                                    columns = df_same_group.index) 
    # target movie similarity scores
    similarity_scores = cosineSim_matrix[idMovie]
    #create dataframe with data
    index = similarity_scores.index
    values = similarity_scores.values
    df_similarity = pd.DataFrame({'idMovie': index, 'similarity score': values})
    #sort by similarity score
    df_similarity = df_similarity.sort_values(by='similarity score', \
                                            axis=0, ascending=False)
    df_similarity = df_similarity.reset_index(drop=True)
    # drop target movie sim. score with itself 
    df_similarity = df_similarity[1:]
    
    return df_similarity

In [7]:


def get_predicted_rating(df_similarity: pd.DataFrame, \
                         df_ratings: pd.DataFrame) -> float:
    # coge las peliculas valoradas y su puntuacion
    df_similarity_rated = pd.merge(df_similarity, df_ratings, how='inner', on='idMovie')
    df_top_10 = df_similarity_rated[:10] 
    
    #predice la valoracion
    nominator = 0
    denominator = 0
    ratings = df_top_10['rating'].to_list()
    simmilarity_score = df_top_10['similarity score'].to_list()

    for i in range(len(ratings)):
        if simmilarity_score[i] >= 0:
            nominator += ratings[i]*simmilarity_score[i]
            denominator += simmilarity_score[i]
    try:
        ratingPrediction = nominator / denominator
    except ZeroDivisionError: #division por 0
        ratingPrediction = 0
    return ratingPrediction

In [8]:


def get_recommendation(df_predicted_ratings: pd.DataFrame, \
                                df_movies: pd.DataFrame) -> pd.DataFrame:
    df_sorted = df_predicted_ratings.sort_values(by='predictedRating', axis=0, ascending=False)
    df_top_ratings = df_sorted[0:5] # recomienda cinco peliculas
    
    df_titles = pd.merge(df_top_ratings, df_movies, how='left', on='idMovie')
    df_titles = df_titles[['idMovie', 'predictedRating', 'title', 'listed_in']]
    
    return df_titles

In [11]:

idUser = 2

ratings = load_data('ratings')
ratings

         idUser  idMovie  rating  timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [12]:

movies = load_data('movies')
movies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [13]:

movies = movie_data_treatment(movies)
movies

,title,idMovie,type,listed_in
0,Dick Johnson Is Dead,1,Movie,Documentaries
1,Blood & Water,2,TV Show,"International TV Shows, TV Dramas, TV Mysteries"
2,Ganglands,3,TV Show,"Crime TV Shows, International TV Shows, TV Act..."
3,Jailbirds New Orleans,4,TV Show,"Docuseries, Reality TV"
4,Kota Factory,5,TV Show,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...
3947,Ricardo Quevedo: Los amargados somos más,3948,Movie,Stand-Up Comedy
3948,Suzzanna: Buried Alive,3949,Movie,"Horror Movies, International Movies"
3949,Tango,3950,TV Show,"International TV Shows, Romantic TV Shows, TV ..."
3950,Ek Ladki Ko Dekha Toh Aisa Laga,3951,Movie,"Comedies, Dramas, International Movies"
3951,Jagat,3952,Movie,"Dramas, International Movies"

In [14]:

rating_matrix = create_rating_matrix(movies, ratings)
rating_matrix

idMovie,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
idUser,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:

grouped_rating_matrix = group_movies_Kmeans(rating_matrix)
grouped_rating_matrix

C:\Users\acasa\AppData\Roaming\Python\Python311\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\acasa\AppData\Roaming\Python\Python311\site-packages\joblib\externals\loky\backend\context.py", line 282, in _count_physical_cores
    raise ValueError(f"found {cpu_count_physical} physical cores < 1")

idUser,1,2,3,4,5,6,7,8,9,10,...,6032,6033,6034,6035,6036,6037,6038,6039,6040,Group
idMovie,,,,,,,,,,,,,,,,,,,,,
1,4.940097,-0.12925,-0.053697,-0.023745,-0.168106,3.925256,-0.036158,3.85429,4.893146,4.554776,...,3.883972,-0.062331,-0.023206,3.802752,-0.791419,-0.202644,-0.020507,-0.12871,2.670804,0
2,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,4.554776,...,-0.116028,-0.062331,-0.023206,-0.197248,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,1
3,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,0.802752,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,1
4,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,2.85429,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,1.802752,1.208581,-0.202644,-0.020507,-0.12871,-0.329196,2
5,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,0.802752,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,2.893146,3.554776,...,-0.116028,-0.062331,-0.023206,-0.197248,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,1
3949,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,-0.197248,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,2
3950,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,-0.197248,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,2
3951,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,-0.197248,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,2
3952,-0.059903,-0.12925,-0.053697,-0.023745,-0.168106,-0.074744,-0.036158,-0.14571,-0.106854,-0.445224,...,-0.116028,-0.062331,-0.023206,-0.197248,-0.791419,-0.202644,-0.020507,-0.12871,-0.329196,2

In [16]:

df_not_rated = get_user_not_rated_movies(idUser, ratings, movies)
df_not_rated

      idMovie
0           1
1           2
2           3
3           4
4           5
...       ...
3572     3948
3573     3949
3574     3950
3575     3951
3576     3952

[3577 rows x 1 columns]

In [17]:

df_predicted_ratings = pd.DataFrame()

for idMovie in df_not_rated['idMovie']:
    print(idMovie)
    similarity_scores = get_movie_similarity_scores(idMovie, grouped_rating_matrix)
    predicted_rating = get_predicted_rating(similarity_scores, ratings)
    new_prediction = {'idMovie': idMovie, 'predictedRating': predicted_rating}
    df_predicted_ratings = pd.concat([df_predicted_ratings, pd.DataFrame([new_prediction])], ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
92
93
94
96
97
98
99
100
101
102
103
104
105
106
107
108
111
112
113
114
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
164
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
222
223
224
225
226
227
228
229
230
231
232
233
234
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
286
287
288
289
290
291
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
319
320
321
322
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
350
351
352
353
354
355
357
358
359
360
361
362
363
364
365
366
367
369
370
371
372
373
374
375
376
377
378
379
381
382
383
384
385
386
387
388
389
390
391
392
393
394
396
397
398
401
402
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
435
436
437
438
439
440
441
443
444
445
446
447
448
449
450
451
452
453
454
455
456
458
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
591
592
594
595
596
597
598
599
600
601
602
603
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
621
623
624
626
627
628
630
631
632
633
634
635
637
638
639
640
641
642
643
644
645
649
650
651
652
653
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
678
679
680
681
682
684
685
687
688
690
691
692
694
695
696
697
698
700
701
702
703
704
705
706
707
708
709
710
711
712
714
715
716
717
718
719
720
722
724
725
726
728
729
730
731
732
733
734
735
737
741
742
743
744
745
746
747
748
749
750
751
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
769
771
774
775
776
778
779
781
782
783
784
785
786
787
788
789
790
791
792
793
796
798
799
800
801
802
803
804
805
806
807
808
809
810
811
813
814
815
818
820
821
823
824
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
846
847
848
849
850
851
852
853
854
858
859
860
861
862
863
864
865
866
867
868
869
870
872
874
875
876
877
878
879
880
881
882
884
885
886
887
888
889
891
892
893
895
896
897
898
899
900
901
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
980
981
984
985
986
987
988
989
990
991
992
993
994
996
997
998
999
1000
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1046
1047
1049
1050
1051
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1066
1067
1068
1069
1070
1071
1073
1076
1077
1078
1079
1080
1081
1082
1083
1085
1086
1087
1088
1089
1091
1092
1093
1094
1095
1097
1098
1099
1100
1101
1102
1104
1105
1107
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1123
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1138
1139
1142
1144
1145
1147
1148
1149
1150
1151
1152
1153
1154
1160
1161
1162
1163
1164
1165
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1183
1184
1185
1186
1187
1189
1190
1191
1192
1194
1197
1199
1200
1201
1202
1203
1204
1205
1206
1208
1209
1211
1212
1214
1215
1216
1218
1219
1220
1221
1222
1223
1224
1226
1227
1228
1230
1231
1232
1233
1234
1235
1236
1237
1238
1240
1241
1242
1243
1248
1249
1250
1251
1252
1254
1255
1256
1257
1258
1260
1261
1262
1263
1264
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1310
1311
1312
1313
1315
1316
1317
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1369
1371
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1401
1404
1405
1406
1407
1409
1410
1411
1412
1413
1414
1415
1416
1417
1419
1420
1421
1422
1423
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1436
1437
1438
1439
1440
1441
1444
1445
1446
1447
1449
1450
1453
1454
1455
1456
1457
1458
1459
1460
1461
1463
1464
1465
1466
1468
1470
1471
1472
1473
1474
1475
1476
1477
1479
1480
1482
1483
1484
1485
1486
1487
1488
1489
1490
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1507
1508
1509
1510
1511
1513
1514
1515
1516
1517
1518
1519
1520
1522
1523
1525
1526
1528
1529
1531
1532
1533
1534
1535
1538
1539
1541
1542
1543
1545
1546
1547
1548
1549
1550
1551
1553
1554
1555
1556
1558
1561
1562
1563
1564
1565
1566
1567
1569
1570
1571
1572
1573
1574
1575
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1598
1599
1600
1601
1602
1603
1604
1605
1606
1608
1609
1611
1612
1613
1614
1615
1616
1617
1619
1620
1621
1622
1623
1624
1625
1626
1627
1629
1630
1631
1632
1633
1635
1636
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1688
1689
1692
1693
1694
1695
1696
1699
1701
1702
1703
1704
1707
1709
1711
1713
1714
1715
1717
1718
1719
1720
1721
1722
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1739
1741
1743
1744
1746
1747
1748
1749
1750
1752
1753
1754
1755
1756
1758
1759
1760
1762
1764
1767
1769
1770
1771
1772
1773
1777
1779
1780
1782
1783
1785
1787
1788
1791
1793
1794
1795
1796
1797
1798
1799
1804
1805
1806
1807
1809
1810
1811
1812
1814
1815
1816
1817
1820
1821
1822
1824
1825
1826
1827
1829
1830
1831
1832
1833
1835
1836

KeyboardInterrupt

In [ ]:

    
df_predicted_ratings

recommendation = get_recommendation(df_predicted_ratings, movies)

In [ ]:
recommendation